<template>
<div>
    <span><router-link to="/creer"><button type="button" class="btn butnCreer btn-lg">Créer Liste</button></router-link></span>
    <span><router-link  to="/voir-listes"><button type="button" class="btn butnListe btn-lg">Les Listes</button></router-link></span>
    <span><router-link to="/voir-tous"><button type="button" class="btn butnProduit btn-lg">Nos Produits</button></router-link></span>
</div>
</template>
<script>

</script>

<style>

</style>
