<template>
<div>
  <form>
    <div v-if="erreurs.length > 0">
        <p v-for="(erreurs, index) in erreurs" :key="index" class="colorerruers">
          {{erreurs}}</p>
    </div>
    <input  type="text" shadow v-model="nom" placeholder="Nom de la liste boisson">
    <button type="submit" @click=creerListe class="btn">Créer</button>
    <span><router-link to="/"><button type="button" class="btn butnRetourCreer">Retour</button></router-link></span>
  </form>
</div>

</template>

<script>
export default {
  name: 'creerListe',
  data: function () {
    return { erreurs: [], nom: '' }
  },
  methods: {
    creerListe: function (e) {
      if (this.nom === '') {
        e.preventDefault()
        this.erreurs.push('Le nom ne doit pas être vide')
      } else {
        let listes = localStorage.getItem('listes')
        let id
        if (listes === null) {
          listes = []
          id = 0
        } else {
          listes = JSON.parse(listes)
          id = listes.length
        }
        listes.push({ nom: this.nom, items: [], editable: true })
        localStorage.setItem('listes', JSON.stringify(listes))
        this.$router.push({ path: '/liste', query: { id: id } })
      }
    }
  }
}

</script>

<style>
.colorerruers{
  color: red;
}
</style>
