<template>
<div>
  <table>
   <tr><th>Arôme</th>
    <td>Retirer</td>
    <td>Quantité</td>
    <td>Ajouter</td>
    <td>Total quantité en Litres</td>
    </tr>
    <th>{{this.nom}}</th>
    <td  v-if="this.editable" @click=retrait()>-</td>
    <td>{{this.qte}}</td>
    <td v-if="this.editable"  @click=ajout()>+</td>
    <td >{{totalLigne}}</td>
    </table>
    </div>
</template>

<script>
export default {
  name: 'ligne',
  data: function () {
    console.log(this.editable)
    return {
      qte: 1
    }
  },
  props: ['id', 'nom', 'prix', 'editable'],
  methods: {
    ajout: function () {
      this.qte += 1
      this.$emit('maj', this.id, this.qte)
    },
    retrait: function () {
      this.qte -= 1
      this.$emit('maj', this.id, this.qte)
    }
  },
  computed: {
    totalLigne: function () {
      return this.qte * this.prix
    }
  }
}
</script>

<style>

</style>
