<template>
<div>
  <div v-if="this.editable">
    <vue-bootstrap-typeahead type="text" @input="lancerRecherche" id="recherche" v-model="texteRecherche" @keyup="lancerRecherche" :data="['ananas', 'raisin', 'pêche', 'fraise', 'pastèque', 'kiwi']" placeholder="Choisir arôme"/>
    <div id="resultats-recherche">
     <p v-for="(item, index) in resultatsRecherche"
    @click="ajouterItem(resultatsRecherche[index].nom, resultatsRecherche[index].prix, resultatsRecherche[index].id)" :key="index">
    {{resultatsRecherche[index].nom}}</p>
    </div>
  </div>
         <table class="table mx-5">
        <tr>
          <ligne @maj="onMaj" v-for="(item, index) in items" :key="index" :id="item.id" :nom="item.nom" :prix="item.prix" :editable="editable"/>
          <th>Produits</th>
          <th>Quantité</th>
          <th>Prix</th>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>{{total}}$</td>
        </tr>
      </table>

<button  v-if="this.editable" @click="sauvegarder" type="button" class="btn butnSauvgarder">Sauvegarder</button>
<span><router-link to="/"><button type="button" class="btn butnRetour">Retour</button></router-link></span>
</div>

</template>

<script>
import Ligne from '../components/Ligne.vue'
import VueBootstrapTypeahead from 'vue-bootstrap-typeahead'

export default {
  name: 'liste',
  components: {
    Ligne,
    VueBootstrapTypeahead
  },
  data: function () {
    let id = this.$route.query.id
    const listes = localStorage.getItem('listes')
    const donnees = JSON.parse(listes)
    id = parseInt(id)
    return {
      items: donnees[id].items,
      editable: donnees[id].editable,
      texteRecherche: '',
      resultatsRecherche: []
    }
  },
  computed: {
    total: function () {
      let total = 0
      this.items.forEach(function (item) { total += item.qte * item.prix })
      return total
    }
  },
  methods: {
    onMaj: function (id, valeur) {
      console.log(id + ' ' + valeur)
      const items = this.items
      console.log(items)
      for (let i = 0; i < items.length; i++) {
        if (items[i].id === id) {
          items[i].qte = valeur
        }
      }
    },
    ajouterItem: function (nom, prix, id) {
      this.items.push({ id, nom, prix, qte: 1 })
    },
    retourAccueil: function () {
      this.$router.push('/')
    },
    sauvegarder: function () {
      let listes = localStorage.getItem('listes')
      listes = JSON.parse(listes)
      const id = this.$route.query.id
      listes[id].items = this.items
      listes[id].editable = false
      localStorage.setItem('listes', JSON.stringify(listes))
      this.$router.push('/')
    },
    lancerRecherche: function () {
      if (this.texteRecherche !== '') {
        const self = this
        window.$.ajax({
          url: window.urlServiceWeb + 'items/' + self.texteRecherche,
          success: function (donnees) {
            self.resultatsRecherche = JSON.parse(donnees)
          }
        })
      } else {
        this.resultatsRecherche = []
      }
    }
  }
}
</script>

<style>

#recherche{
  position : relative;
  width: 250px;
  margin: 0 auto;
  margin-bottom: 10px;
  float: none;
  text-align: center;
}

</style>
