<template>
<div>
  <div class="card border-success mb-3" style="max-width: 18rem;">
  <div class="card-header"> <strong> Nom des listes Créées</strong></div>
  <div class="card-body text-success">
     <h5 v-for="(liste, index) in this.donnees" :key="index">
        <router-link :to="{ path: 'liste', query: { id: index }}">
             {{liste.nom}}
        </router-link>
     </h5>
  </div>
  </div>
  <span><router-link to="/"><button type="button" class="btn butnRetour">Retour</button></router-link></span>
</div>

</template>

<script>
export default {
  name: 'Voirlistes',
  data: function () {
    const listes = localStorage.getItem('listes')
    const donnees = JSON.parse(listes)
    return {
      donnees: donnees
    }
  }
}
</script>

<style>
a{
  color : #F8961E;
}
a:hover {
  color: #81A713;
  text-decoration: none;
}
</style>
