<template>
<div>
     <strong> Nombre de produits : {{produits.length}} </strong>
     <div id="produits">
        <table class="table mx-5">
          <tr>
            <th>Produits</th>
            <th>Format en Litres</th>
            <th>Prix en $ </th>
          </tr>
          <tr v-for="(produits, index) in produits" :key="index">
            <td>Peps {{produits.nom}}</td>
            <td>{{produits.format}} L </td>
            <td>{{produits.prix}} $</td>
          </tr>
      </table>
    </div>
        <span><router-link to="/"><button type="button" class="btn butnRetour">Retour</button></router-link></span>

</div>
</template>

<script>

export default {
  name: 'listeToutes',
  data: function () {
    return {
      produits: []
    }
  },
  mounted: function () {
    const self = this
    window.$.ajax({
      url: window.urlServiceWeb + 'items',
      success: function (donnees) {
        self.produits = JSON.parse(donnees)
      }
    })
  }
}
</script>

<style>

table{
  background: #fff;
  box-sizing: border-box;
  border-collapse: collapse;
  width: 100%;
  margin-top: 40px;
}
td, th {
  border: 1px solid #f9c74f;
  text-align: center;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #f5f2df;
}

</style>
