body {
    background: url('/img/icons/fondBulle.png');
    background-color: #bbe2f8cc;
    background-size: cover;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    height: 100vh;
}

#app {
    font-family: 'Biryani', sans-serif;
    text-align: center;
}

span {
    margin: 20px;
}

.btn {
    color: #fff;

}
.card {
    margin: 0 auto;
    margin-bottom: 10px;
    float: none;
    text-align: center;
}

button {
    background: transparent;
}

input {
    background-color: #fff;
    width: 250px;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #f9c74f;
  }
