#resultats-recherche{
    background-color: white;
    border: 1px solid #f9c74f;
    border-radius: 5px;
    max-width: 250px;
    margin: 0 auto;
    margin-top: 5px;
    text-transform: capitalize;
    font-size: 18px;
}

input {
    background-color: #fff;
    width: 250px;
    padding: 6px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #f9c74f;
    align-items: center;
}
input:hover {
    border: 3px solid #90BE6D;
}
