@import "_base";
@import "_liste";

p{
    color: #577590;
}

.butnCreer{
    background-color: #F8961E;
    
}
.butnListe{
    background-color: #90BE6D
}

.butnProduit {
    background-color: #F94144
}
.butnRetourCreer {
    @extend .butnListe;
}
.butnRetour {
    @extend .butnListe;
    margin-top: 40px;
}
.butnSauvgarder {
    @extend .butnCreer; 
    margin-top: 40px;
    margin-left: 30px
}

button[type=submit] {
    @extend .butnCreer; 
    margin-left: 10px;
}


.Leslistes{
    margin-top: 60px;
}
table {
    background: #fff;
    box-sizing: border-box;
    border-collapse: collapse;
    text-align: center;
    max-width: 95%;
}

td,
th {
    border: 1px solid #f9c74f;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f5f2df;
}

.autocomplete {
    position: relative;
    display: inline-block;
  }



//Faites des imports de vos fichiers smacss
